@use "styles/placeholders" as *;
@use "styles/variables/colors" as *;
@use "styles/variables/typography" as *;

.btn {
	font-weight: $font-weight-bold;
	font-size: $font-size-xsm;
	color: $color-white-300;
	line-height: $line-height-xsm;
	letter-spacing: 0;
	padding: 13px 51px;
	border-radius: 10px;
	@extend %button;
}

.purple {
	background-color: $color-purple;
	&:hover {
		background-color: $color-purple-hover;
	}
}

.blue {
	background-color: $color-blue;
	&:hover {
		background-color: $color-blue-hover;
	}
}

.black {
	background-color: $color-blue-100;
	&:hover {
		background-color: $color-blue-100-hover;
	}
}

.red {
	background-color: $color-red;
	&:hover {
		background-color: $color-red-hover;
	}
}
