@use "styles/placeholders" as *;
@use "styles/variables/colors" as *;
@use "styles/variables/typography" as *;

.btn {
	font-weight: $font-weight-bold;
	font-size: $font-size-xsm;
	color: $color-white;
	line-height: 0;
	letter-spacing: 0;
	padding: 16px 41px;
	border-radius: 10px;
	@extend %button;
	&:hover {
		text-decoration: underline;
	}
}

.arrowLeftIcon {
	margin-right: 16px;
}

.white {
	color: $color-gray;
}

.black {
	background-color: $color-blue-200;
}
