$color-purple: #ad1fea;

$color-light-blue: #62bcfa;

$color-blue: #4661e6;
$color-blue-100: #3a4374;
$color-blue-200: #373f68;

$color-white: #ffffff;
$color-white-100: #f7f8fd;
$color-white-200: #f2f3ff;

$color-gray: #647196;

$color-orange: #f49f85;
