$color-purple: #ad1fea;
$color-purple-hover: #c75af6;

$color-light-blue: #62bcfa;

$color-blue: #4661e6;
$color-blue-hover: #7c91f9;

$color-blue-100: #3a4374;
$color-blue-100-hover: #656ea3;

$color-blue-200: #373f68;
$color-blue-300: #f2f4ff;
$color-blue-400: #cfd7ff;

$color-white: #ffffff;
$color-white-100: #f7f8fd;
$color-white-200: #f2f3ff;
$color-white-300: #f2f4fe;
$color-white-400: #cdd2ee;

$color-gray: #647196;

$color-orange: #f49f85;

$color-red: #d73737;
$color-red-hover: #e98888;
