// Font weights

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Font sizes

$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 15px;
$font-size-xsm: 14px;
$font-size-xxsm: 13px;

// Letter spacings

$letter-spacing-lg: -0.2px;
$letter-spacing-md: -0.25px;
$letter-spacing-sm: -0.33px;

// Line heights

$line-height-xxl: 35px;
$line-height-xl: 29px;
$line-height-lg: 26px;
$line-height-md: 23px;
$line-height-sm: 22px;
$line-height-xsm: 20px;
$line-height-xxsm: 19px;
