$color-selago: #f2f4fe;
$color-electric-violet: #ad1fea;
$color-royal-blue: #4661e6;
$color-east-bay: #3a4374;
$color-valencia: #d73737;

$color-heliotrope: #c75af6;
$color-cornflower-blue: #7c91f9;
$color-waikawa-gray: #656ea3;
$color-tonys-pink: #e98888;
