$color-selago: #f2f4fe;
$color-electric-violet: #ad1fea;
$color-royal-blue: #4661e6;

$color-east-bay: #3a4374;
$color-ease-bay-light: rgba(58, 67, 116, 0.15);

$color-valencia: #d73737;

$color-heliotrope: #c75af6;
$color-cornflower-blue: #7c91f9;
$color-waikawa-gray: #656ea3;
$color-tonys-pink: #e98888;

$color-lynch: #647196;
$color-white: #fff;
$color-rhino: #373f68;
$color-rhino-light: rgba(55, 63, 104, 0.35);

$color-periwinkle-gray: #cdd2ee;

$color-link-water: #f7f8fd;
