@use "styles/variables/typography.scss" as *;
@use "styles/variables/colors.scss" as *;
@use "styles/mixins/transitions.scss" as *;

%header-1 {
	font-weight: $font-weight-bold;
	font-size: $font-size-xxl;
	line-height: $line-height-xxl;
	letter-spacing: $letter-spacing-sm;
	color: $color-blue-100;
}

%header-2 {
	font-weight: $font-weight-bold;
	font-size: $font-size-xl;
	line-height: $line-height-xl;
	letter-spacing: $letter-spacing-md;
	color: $color-blue-100;
}

%header-3 {
	font-weight: $font-weight-bold;
	font-size: $font-size-lg;
	line-height: $line-height-lg;
	letter-spacing: $letter-spacing-md;
	color: $color-blue-100;
}

%header-4 {
	font-weight: $font-weight-bold;
	font-size: $font-size-xsm;
	line-height: $line-height-xsm;
	letter-spacing: $letter-spacing-lg;
	color: $color-blue-100;
}

%text-1 {
	font-weight: $font-weight-regular;
	font-size: $font-size-md;
	line-height: $line-height-md;
	letter-spacing: 0;
	color: $color-blue-100;
}

%text-2 {
	font-weight: $font-weight-regular;
	font-size: $font-size-sm;
	line-height: $line-height-sm;
	letter-spacing: 0;
	color: $color-blue-100;
}

%text-3 {
	font-weight: $font-weight-semibold;
	font-size: $font-size-xxsm;
	line-height: $line-height-xxsm;
	letter-spacing: 0;
	color: $color-blue-100;
}

%button {
	@include transition(background-color);
	background-color: transparent;
	border: none;
	cursor: pointer;
}
